<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Profile Page</title>
  </head>
  <body>
    <div
      class="w-full min-h-screen bg-zinc-900 text-white p-10 flex items-center justify-center"
    >
      <h1>Profile Information</h1>
      <h2>Welcome <%= user.email%></h2>
    </div>
  </body>
</html>
